body {
    background: #222;
    color: #fff;
    text-align: center;
}
table,
td {
    border: #222 solid 1px;
}
th {
    font-size: bold;
    background: #fff;
    color: #222;
    border: #222 solid 1px;
}

.pic {
    width: 100px;
    height: 100px;
    border-radius: 2px;
}
